@using System.Threading.Tasks
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/bundles/css")
    </head>
    <body>
        @Html.Partial(MVC.Shared.Views.Header)
        <div class="container-fluid main">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-right right-cp-block">
                @Html.Action(MVC.Home.GetControlPanel())
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 main-block">
                @RenderBody()
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="text-muted">@DateTime.Now.Year - Smart Spy</p>
            </div>
        </footer>

    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/app")
    @RenderSection("Scripts", false)

    <script type="text/javascript">
        $(document).ready(function createGauge() {

            var viewModel = kendo.observable(new ControlPanelViewModel);
            kendo.bind($("#control-painel-block"), viewModel);
        });

    </script>
    </body>
</html>