@using System.Threading.Tasks
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/site/css")
    </head>
<body>
    @Html.Partial(MVC.Shared.Views.Header)
    <div class="container-fluid main-container">
        <div class="col-lg-2 col-md-2"></div>
        <div class="main-content-block col-lg-8 col-md-8">
            @RenderBody()
        </div>
        <div class="col-lg-2 col-md-2"></div>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">@DateTime.Now.Year - Smart Spy</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/lib")


    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script type="text/javascript" src="/Scripts/app/require.config.js"></script>
    }
    else
    {
        <script type="text/javascript" src="/Scripts/app/require.bundle.config.js"></script>
    }

    <script type="text/javascript" src="/Scripts/lib/require.js"></script>

    @*Scripts.Render("~/bundles/app")*@
    @RenderSection("Scripts", false)




</body>
</html>